.questionContainer {
    width: 600px;
    margin: auto;
    background-color: rgb(211, 239, 255);
    padding: 24px;
    border-radius: 10px;
    margin-top: 50px !important;
}
.questionContainer .threads {
    font-size: 25px;
    margin: 24px 0;
}
.questionContainer .question {
    margin-bottom: 16px;
    font-size: 18px;
}

.questionContainer .answer {
    width: 400px;
    height: 40px;
    border: none;
    border-radius: 6px;
    margin: auto;
    font-size: 20px;
    padding: 16px;
    margin: 48px auto;
}
.questionContainer .answerForm {
    display: flex;
    flex-direction: column;
}
.questionContainer .answer:focus {
    outline: none;
}