.comment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.comment-container .title {
    font-size: 40px;
    font-weight: bold;
    margin-top: 50px;
}
.comment-container .comment-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    margin: 20px 40px;
    width: 80vw;
    flex-wrap: wrap;
    border: 2px solid #bbbbbb;
    border-radius: 10px;
    padding: 20px;
}
.comment-container .comment-list > * {
    margin: 20px 10px;
}
.comment-container .go {
    background-color: red;
    color: white;
    font-size: 25px;
    line-height: 60px;
    width: max-content;
    padding: 0 60px;
    border-radius: 6px;
    cursor: pointer;
    margin: 50px auto;
}
