.speaking-container{
    width: 100%;
    min-height: 120vh;
    background-color: #04aa6d
}
.speaking-container .speaking-child1{
    width: 100%;
    height: 10vh;
    background-color: white;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.9);;
    
    
}
.speaking-container .speaking-child1 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    
    width: 80%;
    margin: auto;
    

}
.child1-pronounciation{
    display: flex;
    justify-content: space-between;
    width: 30%;
    cursor: pointer;
    transition: 0.7s;

}

.speaking-container .speaking-child1  button{
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #04aa6d;
    color: white;
    cursor: pointer;
    transition: 0.8s;
    
}
.speaking-container .speaking-child1  button:hover{
    background-color: #2fe2a0;
}
.speaking-container .nav-bar .ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    margin: auto;
    background-color: whitesmoke;
    height: 150px;
    border-radius: 4px;
    
    



}
.speaking-container .nav-bar .ul li {
    padding: 20px;
    list-style: none;
    cursor: pointer;
    transition: 1s;
    font-weight: bold;
}
.speaking-container .nav-bar .ul li:hover{
    color: #04aa6d;
   
}
.speaking-child2{
    width: 50%;
    margin: auto;
   
    margin-top: 50px;
    background-color: whitesmoke;
    border-radius: 5px;
   

}
.speaking-child2 h3{
    padding-bottom: 20px;
    padding-left: 40px;
}


